#page-login {
  height: 100vh;
  background: url('../../assets/login-backgroud.svg') no-repeat 28vh 80%;

}

#page-login .content{
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
}

#page-login .content header{
  margin-top: 48px;
}

#page-login .content .header{
  display: flex;
  justify-content: space-between;
}

#page-login .content .header div{
  display: flex;
  align-items: center;
}

#page-login .content .header .icons-space{
  margin-left: 1rem;
}

#page-login .content .header div a{
  color: var(--primary-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
}

#page-login .content main .container-login-form{
  height: 70vh;
  width: 40vw;
  display: flex;
  margin-top: 124px;
  margin-right: 160px;
  margin-bottom: 120px;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
}

#page-login .content main .container-login-form h2{
  font-size: 24px;
  margin: 88px 0px 0px;
}

#page-login .content main .container-login-form form{
  margin: 72px;
}

#page-login .content main .container-login-form form div{
  display: flex;
  flex-direction: column;
  margin: 24px;
}

#page-login .content main .container-login-form form div label{
  margin-bottom: 8px;
}

#page-login .content main .container-login-form form div input{
  background: #F0F0F5;
  border-style: none;
  border-radius: 8px;
  height: 56px;
  width: 460px;
}

#page-login .content main .container-login-form form .login-btn{
  display: flex;
  align-items: center;
  margin-top: 48px;
}

#page-login .content main .container-login-form form button{
  background: var(--primary-color);
  color: #ffffff;
  font-weight: 800;
  height: 56px;
  width: 264px;
  border-style: none;
  border-radius: 8px;
}

.input-search{
  z-index: 3;
}
.form-content input[type="text"] {
  padding-left: 40px;
}
.form-content {
  position: relative;
}

.icon-left {
  position: absolute;
  left: 0;
  top: 13px;
  margin-left: 1rem;
}

@media(max-height: 700px ) {

}

@media(max-width: 900px) {
  #page-login {
    height: 100vh;
  }

  #page-login .content {
    align-items: center;
    text-align: center;
  }

  #page-login .content header {
    margin: 48px auto 0;
  }

  #page-login .content main {
    align-items: center;
    margin-top: 7rem;
  }

  #page-login .content main h1 {
    font-size: 42px;
  }

  #page-login .content main p {
    font-size: 24px;
  }
}